{% load static %} {% load staticfiles %} {% load i18n %}
<html lang="ES">
 
  <head>
  <title>Salimos.com</title>
  <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'estilo.css' %}">
  </head>
  <body>

         <div id= "superior">

         <div> <br><br>


        </div>
        <h1><i>Salimos</i></h1><br><br>



        <div style= "text-align: right">
            <form name="ejemplo" action="" method="POST">
              Buscar <input type="search" name="busqueda">
              <input type="submit" value= Enviar>
            </form>
        </div>





            <div id="columnaderecha">
                <div style= "text-align: center" ><br><br>
                <iframe width="380" height="280" src="https://www.youtube.com/embed/NUl_XVlIzkk?controls=0" frameborder="0" accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>





                <div id="fb-root"></div>
                <script async defer src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2"></script>"<br><br>

                <div class="fb-like" data-href="https://www.facebook.com/Salimos-247878679479017/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div><br><br><br>

                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSalimos-247878679479017%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameboard="0" allow="encrypted-media"></iframe>
            </div>
            <div id="columna"><br><br>
                <h2> Buscar por:</h2><br><br>
                <ul>
                    <li><a href="#marco1">Mi   evento</a></li><br><br>

                    <li><a href="#marco2">Categorias</a></li><br><br>

                     <li><a href="#marco3">Departamentos</a></li><br><br>
                </ul>
            </div>

        <div id="contenido">
            <div id="marco1"><br><br>
                <h2>Mi evento</h2><br><br>
                <ul>
                   <li><a href= "{% url 'familia' %}">En Familia</a></li><br><br>
                    <li><a href= "{% url 'amigos' %}">Con amigos</a></li><br><br>
                    <li><a href= "{% url 'ninos' %}">Para niños</a></li><br><br>
                    <li><a href= "{% url 'paseo' %}">Paseos</a></li><br><br>
                    <li><a href= "{% url 'turi' %}">Lugares turisticos</a></li><br><br>
                    <li><a href= "{% url 'aire' %}"Espectaculos al aire libre></a></li><br><br>
                </ul>
            </div>
            <div id="marco2"><br><br>
                <h2>Categorias</h2><br><br>
                <ul>
                    <li><a href= "#Festivales">Festivales</a></li><br><br>
                    <li><a href= "#Festivales">Criollas</a></li><br><br>
                    <li><a href= "#Festivales">Gastronomia</a></li><br><br>
                    <li><a href= "{% url 'Cinellama' %}">Cine</a></li><br><br>
                    <li><a href= "#Festivales">Teatro</a></li><br><br>
                    <li><a href= "#Festivales">Toques</a></li><br><br>
                    <li><a href= "#Festivales">Boliches</a></li><br><br>
                    <li><a href= "#Festivales">Eventos artisticos y deportivos</a></li><br><br>
                </ul>
            </div>
        <div id="marco3"> <br><br>
                <h2>Departamentos</h2><br><br>
                <ul>
                    <li><a href= "#Departamentos"> Artigas</a></li><br>
                    <li><a href= "#Departamentos"> Canelones</a></li><br>
                    <li><a href= "#Departamentos"> Cerro Largo</a></li><br>
                    <li><a href= "#Departamentos"> Colonia</a></li><br>
                    <li><a href= "#Departamentos"> Durazno</a></li><br>
                    <li><a href= "#Departamentos"> Flores</a></li><br>
                    <li><a href= "#Departamentos"> Florida</a></li><br>
                    <li><a href= "#Departamentos"> Lavalleja</a></li><br>
                    <li><a href= "#Departamentos"> Maldonado</a></li><br>
                    <li><a href= "#Departamentos"> Montevideo</a></li><br>
                    <li><a href= "#Departamentos"> Paysandu</a></li><br>
                    <li><a href= "#Departamentos"> Rio Negro</a></li><br>
                    <li><a href= "#Departamentos"> Rivera</a></li><br>
                    <li><a href= "#Departamentos"> Rocha</a></li><br>
                    <li><a href= "#Departamentos"> Salto</a></li><br>
                    <li><a href= "#Departamentos"> San Jose</a></li><br>
                    <li><a href= "#Departamentos"> Soriano</a></li><br>
                    <li><a href= "#Departamentos"> Tacuarembo</a></li><br>
                    <li><a href= "#Departamentos"> Treinta y Tres</a></li><br>
                </ul>
        </div>

        <div style="text-align-last: center">
            <p> Deja tu opinion </p>
            <textarea name="mensaje" placeholder="Comparte tu experiencia"></textarea>
            <p><input type="submit" value="Enviar mensaje"></p>
        </div>
  </body>
</html>