
<html lang="ES">
    {% block jk %}
                    <head>
                            <title>Eventos Artisiticos y Deportivos</title>
                    </head>
                    <body>
                            <table class="steelBlueCols">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Detalle</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Contacto</th>
                                        <th>Ciudad</th>
                                        <th>Pagina Web</th>
                                        <th>Direccion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for Evento in Artdep %}
                                        <tr>
                                            <td>{{ Evento.1 }}</td>
                                            <td>{{ Evento.3 }}</td>
                                            <td>{{ Evento.4 }}</td>
                                            <td>{{ Evento.5 }}</td>
                                            <td>{{ Evento.10 }}</td>
                                            <td>{{ Evento.11}}</td>
                                            <td>{{ Evento.13}}</td>
                                            <td>{{ Evento.14}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </body>
    {% endblock %}
    </html>