
<html lang="ES">
{% block jk %}
                <head>
	                    <title>Funciones</title>
                </head>
                <body>
                            <table>
                                {% for Funcion in Funcion %}
                                    <tr>{{ Funcion }}</tr>
                                {% endfor %}
                                <td>6</td>
                                <td>Hola</td>
                                <td>Holaa</td>
                            </table>
                {{ Funcion }}
                </body>
{% endblock %}
</html>