
<html lang="ES">
{% block jk %}
                <head>
	                    <title>Funciones</title>
                </head>
                <body>
                        <table class="steelBlueCols">
			                <thead>
				                <tr>
					                <th>Funcion</th>
                                    <th>Fecha</th>
					                <th>Lugar</th>
					                <th>Horario</th>
				                </tr>
			                </thead>
			                <tbody>
                                    {% for Funcion in Funciones %}
                                    <tr>
                                        <td>{{ Funcion.2 }}</td>
                                        <td>{{ Funcion.3 }}</td>
                                        <td></td>
                                        <td>{{ Funcion.4 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
		                </table>
                </body>
{% endblock %}
</html>