{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="Es">
			<head>
                     <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                     <link rel="stylesheet" href="{% static 'mievento/turismo/turismo.css' %}">
				<title>Montevideo</title>
			</head>
	<body>
		<div class="datagrid">
			<table>
				<thead>

					<tr>
						<th>Nombre Evento</th>
						<th>Información Adicional</th>
						<!--<th>Barrio</th>-->
					</tr>
				</thead>
				<tbody>
                {% for item in Montevideo %}
					<tr>
						<td>{{item.0 }}</td>
						<td>{{item.1  }}</td>
                    </tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>