
<html lang="ES">
    {% block jk %}
                    <head>
                            <title>Toques</title>
                    </head>
                    <body>
                            <table class="steelBlueCols">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Detalle</th>
                                        <th>Fecha </th>
                                        <th>Ciudad</th>
                                        <th>Direccion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for Evento in Toques %}
                                        <tr>
                                            <td>{{ Evento.1 }}</td>
                                            <td>{{ Evento.3 }}</td>
                                            <td>{{ Evento.4 }}</td>
                                            <td>{{ Evento.11}}</td>
                                            <td>{{ Evento.14}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </body>
    {% endblock %}
    </html>