{% load static %}{% load staticfiles %}{% load  i18n %}
<html lang="Es">
		<head>
            <title>En Familia</title>
                <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <link rel="stylesheet" href="{% static 'mievento/enfamilia/enfamilia.css' %}">
			    <link rel="stylesheet" type="text/css" href="enfamilia.css">
		</head>
	<body>
		<div id="box">
		  <main id="center">
             	<h1>En Familia</h1>
  				<table class="pure-table pure-table-horizontal">
   				 	<thead>
                         <tr>
       				 	  <th>Evento</th>
        			 	  <th>Ciudad</th>
       				 	  <th>Direccion</th>
        			 	  <th>Horario</th>
       				 	  <th>Telefono</th>
      					</tr>

              	    </thead>
    				<tbody>
                    {% for Nombre in Lugares %}
      					<tr>
       					  <td>{{ Nombre.0}}</td>
      					  <td>{{ Nombre.1}}</td>
                          <td>{{ Nombre.3}}</td>
                          <td>{{ Nombre.4}}</td>
                          <td>{{ Nombre.2}}</td>
      					</tr>
                    {% endfor %}
                	</tbody>
           		</table>
       		</main>
    	</div>	
	</body>
</html>