
<html lang="ES">
    {% block jk %}
                    <head>
                            <title>Gastronomia</title>
                    </head>
                    <body>
                            <table class="steelBlueCols">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th>Horario</th>
                                        <th>Telefono</th>
                                        <th>Tarjetas</th>
                                        <th>Gasto Promedio</th>

                                    </tr>
                                </thead>
                                <tbody>
                                        {% for Evento in Gastronomia %}
                                        <tr>
                                            <td>{{ Evento.2 }}</td>
                                            <td>{{ Evento.6 }}</td>
                                            <td>{{ Evento.7 }}</td>
                                            <td>{{ Evento.8 }}</td>
                                            <td>{{ Evento.9 }}</td>
                                            <td>{{ Evento.12 }}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </body>
    {% endblock %}
    </html>