
<html lang="ES">
    {% block jk %}
                    <head>
                            <title>Teatros</title>
                    </head>
                    <body>
                            <table class="steelBlueCols">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Ciudad</th>
                                        <th>Barrio</th>
                                        <th>Direccion</th>
                                        <th>Horario</th>
                                        <th>Telefono</th>
                                        <th>Tarjetas</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for Lugar in Teatros %}
                                        <tr>
                                            <td>{{ Lugar.2 }}</td>
                                            <td>{{ Lugar.4 }}</td>
                                            <td>{{ Lugar.5 }}</td>
                                            <td>{{ Lugar.6 }}</td>
                                            <td>{{ Lugar.7 }}</td>
                                            <td>{{ Lugar.8}}</td>
                                            <td>{{ Lugar.9}}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </body>
    {% endblock %}
    </html>